Source: vhtcpd
Section: web
Priority: extra
Maintainer: Brandon Black <bblack@wikimedia.org>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, dh-autoreconf
Standards-Version: 3.9.3
Homepage: https://gerrit.wikimedia.org/r/gitweb?p=operations/software/varnish/vhtcpd.git
#Vcs-Git: https://gerrit.wikimedia.org/r/operations/software/varnish/vhtcpd
#Vcs-Browser: https://gerrit.wikimedia.org/r/gitweb?p=operations/software/varnish/vhtcpd.git

Package: vhtcpd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: HTCP-to-PURGE forwarder for Varnish
 A network daemon that listens for multicast HTCP cache purge requests
 and forwards them to Varnish via the HTTP PURGE method.

Package: vhtcpd-dbg
Architecture: any
Depends: vhtcpd (= ${binary:Version}), ${misc:Depends}
Section: debug
Description: HTCP-to-PURGE forwader for Varnish (debug symbols)
 Debug symbols for vhtcpd
